.detail-item{
	
}

.detail-item:hover{
	background-color: #ABD0CE;
}

.edit-menu-btn-active{
	background-color: #ABD0CE;	
}

.auto-left-side{
	width:calc(25%);
}

@media (max-width:1024px) and (min-width:768px){

	.auto-left-side{
		width:calc(35%);
	}

}

@media (width:1366px){

	.auto-left-side{
		width:calc(35%);
	}

}

.edit-left-side{
	position: fixed;top:calc(12%);border-radius: 5px;
}

.edit-right-side{
	position: fixed;top:calc(12%);border-radius: 5px;right:50px;
}