.header {
    background-color: #58C9B9;
}

.header-left-side {
    background-color: rgba(88, 201, 185, 0.8);
}

.header-bg-img {
    background-image: url('/static/frontend/img/bg1.jpg');
    background-position: center;
    background-size: 100%;
}

.header-title {
    font-size: 32px;
}

.header-content {
    font-size: 32px;
}

@media (max-width: 600px) {
    .header-title {
        font-size: 28px !important;
    }

    .header-content {
        font-size: 16px !important;
    }
}

.card {
    cursor: pointer;
}

.card-h:hover {
    box-shadow: 0 2px 5px 0 rgba(102, 102, 102, 0.16), 0 2px 10px 0 rgba(102, 102, 102, 0.12);
    border-radius: 5px;
}

.card-h {
    border-radius: 5px;
}

.card-content {
    border-radius: 5px 5px 0px 0px;
    margin-top: -250px;
    transition: opacity .3s linear;
    opacity: 0;
}

.card-content:hover {
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.78));
    background: -o-radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.78));
    background: -moz-radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.78));
    background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.78));
    opacity: 1;
}

.card-info {
    padding-top: 3px;
    text-align: left;
}

.card-info-msg {
    font-size: 12px;
}

.card-info-star {
    color: #87314e;
}

.card-bg {
    background-position: center;
    background-size: 100%;
    height: 250px;
}

button.dark {
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%20%20%20%20%20%20%20%20%3Ctitle%20fill%3D%22white%22%3Eicons%20%2F%2024x24%20%2F%20star-save-ios-md.colors-black%3C%2Ftitle%3E%20%20%20%20%3Cdesc%20fill%3D%22white%22%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%20%20%20%3Cdefs%20fill%3D%22white%22%3E%3C%2Fdefs%3E%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icons-%2F-24x24-%2F-star-save-ios-md.colors-black%22%20fill%3D%22white%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22star-save-ios-md.colors-black%22%20fill%3D%22white%22%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20id%3D%22box%22%20fill-opacity%3D%220%22%20fill%3D%22white%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2224%22%20height%3D%2224%22%3E%3C%2Frect%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M18.5563302%2C12%20L20.3202319%2C10.688%20C20.5812319%2C10.507%2020.7532319%2C10.206%2020.7532319%2C9.865%20C20.7532319%2C9.313%2020.3072319%2C8.865%2019.7552319%2C8.865%20L19.7502319%2C8.865%20L14.5822319%2C8.865%20L12.9492319%2C3.936%20C12.8142319%2C3.526%2012.4312319%2C3.25%2012.0002319%2C3.25%20C11.5692319%2C3.25%2011.1862319%2C3.526%2011.0512319%2C3.936%20L9.41823186%2C8.865%20L4.25023186%2C8.865%20C3.82023186%2C8.865%203.43723186%2C9.141%203.30123186%2C9.549%20C3.16523186%2C9.958%203.30623186%2C10.407%203.65023186%2C10.665%20L7.93123186%2C13.873%20L6.29723186%2C18.806%20C6.16023186%2C19.22%206.30723186%2C19.675%206.66123186%2C19.931%20C6.83623186%2C20.057%207.04123186%2C20.12%207.24723186%2C20.12%20C7.45723186%2C20.12%207.66623186%2C20.054%207.84323186%2C19.922%20L12%2C16.8308652%20L12%2C15.5841725%20L7.24723186%2C19.12%20L9.10723186%2C13.505%20L4.25023186%2C9.865%20L10.1402319%2C9.865%20L12.0002319%2C4.25%20L13.8602319%2C9.865%20L19.7502319%2C9.865%20L16.8804199%2C12%20L18.5563302%2C12%20Z%22%20id%3D%22Combined-Shape%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M17%2C16%20L17%2C13%20L16%2C13%20L16%2C16%20L13%2C16%20L13%2C17%20L16%2C17%20L16%2C20%20L17%2C20%20L17%2C17%20L20%2C17%20L20%2C16%20L17%2C16%20Z%22%20id%3D%22Combined-Shape%22%20fill%3D%22white%22%3E%3C%2Fpath%3E%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%20%20%20%20%3C%2Fg%3E%20%20%20%20%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    color: #ccc;
    background-color: rgba(0, 0, 0, 0);
    min-width: 0;
    border: 0px;
    cursor: pointer;
}

button.dark:hover {
    color: #fff;
}

.hide {
    float: right;
    height: 26px;
    margin-top: 1rem;
    padding: 0;
    width: 32px;
}

.c-btn {
    background-color: #77AAAD;
}

.c-btn:hover {
    background-color: #9DC3C1;
}

.more {
    background-color: #9DC8C8;
}

.more:hover {
    background-color: #ABD0CE;
}

.box {
    margin: auto 0px;
}

.container-4 {
<!-- margin-left: 37 %;
overflow: hidden;
width: 400 px;
white-space: nowrap;
-->
}

.container-4 input#search {
    width: 400px;
    height: 50px;
    background: #9DC8C8;
    border: none;
    font-size: 16pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .container-4 {
        margin-left: 0%;
        overflow: hidden;
        width: initial;
        vertical-align: middle;
        white-space: nowrap;
    }

    .container-4 input#search {
        width: 100%;
        height: 50px;
        background: #9DC8C8;
        border: none;
        font-size: 16pt;
        float: left;
        color: #fff;
        padding-left: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}

.container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-4 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.container-4 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-4 button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #519D9E;
    height: 50px;
    width: 50px;
    color: #285943;
    opacity: 0;
    font-size: 10pt;
    cursor: pointer;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -50px;
}

.container-4:hover button.icon:hover {
    background: white;
}

@media (max-width: 600px) {
    .header-bg-img {
        background: url('/static/frontend/img/bg1.jpg') center;
        background-size: auto 100%;
    }
}

.label {
    font-size: 12px;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.card_icon {
    color: lightgray;
    font-size: 6em;
    margin-top: calc(30%);
    margin-left: calc(10%);
}