{% load staticfiles %}

<link rel="stylesheet" href="{%static "frontend/css/main.css" %}">
<link rel="stylesheet" href="{%static "frontend/css/util.css" %}">
<link rel="stylesheet" href="{%static "frontend/css/map_edit.css" %}">
<link rel="stylesheet" href="{%static "frontend/css/font.css" %}?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="{%static "frontend/plugins/jquery-ui.min.css" %}">