{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>好食地圖 Luscious Map - 搜尋美食、分享美食都在好食地圖{% block title %}{% endblock %}</title>
    <meta name="viewport"
          content="width=device-width ,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="Shortcut Icon" type="image/x-icon" href="{% static "frontend/img/lusciousmap.ico" %}"/>

    {% block meta %}
        <meta name="title" content="好食地圖 Luscious Map - 搜尋美食、分享美食都在好食地圖">
        <meta name="description" content="你的、我的必吃美食！每個人心中都有他的私房美食，每個人心中都有他的那張地圖。">
        <meta name="keywords" content="好食地圖,美食地圖,美食,地圖,小吃,餐廳,夜市,鬧區,分享,景點">

        <meta property="og:image" content="http://{{ request.get_host }}{% static "frontend/img/title_black.png" %}">
        <meta property="og:title" content="好食地圖 - Luscious Map">
        <meta property="og:description" content="你的、我的必吃美食！每個人心中都有他的私房美食，每個人心中都有他的那張地圖。">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="180">
    {% endblock %}
    <meta property="og:site_name" content="好食地圖 - Luscious Map">
    <meta property="og:type" content="website">

    {% include '_css.html' %}

    {# GA #}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-102176913-1', 'auto');
        ga('send', 'pageview');

    </script>
    {# GA end #}

    {% block header %}{% endblock %}

    <link rel="stylesheet" href="{% static "frontend/plugins/vex/css/vex.css" %}"/>
    <link rel="stylesheet" href="{% static "frontend/plugins/vex/css/vex-theme-plain.css" %}"/>
</head>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card-2" id="myNavbar">
        <a href="{% url "index" %}" class="w3-bar-item w3-button w3-wide header-height" style="padding:6px;">
            <img class="top-img" src="{% static "frontend/img/title_black.png" %}" style="">
            <span class="w3-hide-medium w3-hide-small w3-hide-ipad">Luscious Map</span>
        </a>
        <!-- Right-sided navbar links -->
        <div class=" w3-hide-small">
            <div class="w3-right">
                <a href="{% url "index" %}#map" class="w3-bar-item w3-button header-height header-button"><i
                        class="fa fa-map-o"></i>
                    &nbsp好食地圖</a>
                <a href="#teach" class="w3-bar-item w3-button header-height header-button"><i class="fa fa-book"></i>
                    &nbsp地圖教學</a>
                {% comment %}
                <a href="#teach" class="w3-bar-item w3-button header-height header-button"><i
                        class="fa fa-hand-peace-o"></i> &nbsp好食專欄</a>
                <a href="#pricing" class="w3-bar-item w3-button header-height header-button"><i
                        class="fa fa-sign-language"></i> &nbsp好食直播</a>
                {% endcomment %}
                <a href="{% url "index" %}#about" class="w3-bar-item w3-button header-height header-button"><i
                        class="fa fa-th"></i>
                    &nbsp關於我們</a>
                {% if user.is_authenticated %}
                    <button class="w3-bar-item w3-button header-height header-button" onclick="click_user_btn();">
                        <i class="fa fa-user"></i>
                        &nbsp{{ user.username }}</button>
                {% else %}
                    <a href="{% url "account_login" %}" class="w3-bar-item w3-button header-height header-button"><i
                            class="fa fa-user"></i>
                        &nbsp註冊/登入</a>
                {% endif %}
            </div>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)"
           class="header-height header-button w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
           onclick="w3_open()" style="width: 30%;">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>
<!-- Navbar (sit on top) end -->

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left w3-hide-medium w3-hide-large togger-bar"
     style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">&times;
        &nbsp關閉</a>
    {% block mobilemenu %}
    {% endblock %}
    <br>
    <div>
        <div style="margin: 0 auto; width: 80%; height: 1px; border-top: 1px solid #ccc;"></div>
    </div>
    <br>
    <a href="{% url "index" %}#map" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-map-o"></i>
        &nbsp好食地圖</a>
    <a href="{% url "index" %}#teach" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-book"></i>
        &nbsp地圖教學</a>
    {% comment %}
    <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-hand-peace-o"></i> &nbsp好食專欄</a>
    <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-sign-language"></i> &nbsp好食直播</a>
    {% endcomment %}
    <a href="{% url "index" %}#about" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-th"></i>
        &nbsp關於我們</a>
    {% if user.is_authenticated %}
        <button class="w3-bar-item w3-button header-height header-button" onclick="click_user_btn();">
            <i class="fa fa-user"></i>
            &nbsp{{ user.username }}</button>
    {% else %}
        <a href="{% url "account_login" %}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> &nbsp註冊/登入</a>
    {% endif %}
</nav>
<!-- Sidebar on small screens when clicking the menu icon end -->

{% block body %}{% endblock %}


{% include '_script.html' %}
{% block script %}{% endblock %}

</body>

</html>
<script type="text/javascript" src="{% static "frontend/plugins/vex/js/vex.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/plugins/vex/js/vex.combined.js" %}"></script>
<script>vex.defaultOptions.className = 'vex-theme-plain'</script>
<script>
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }

    function click_user_btn() {
        vex.dialog.open({
            message: '',
            input: [
                '<div class="w3-block" style="text-align:center;font-size:1.2em;margin-bottom: 10px;">選單</div>',
                '<a href="{% url "map_edit" %}" class="w3-button w3-block u-menu-btn">我的地圖</a>',
                '<form method="post" action="{% url 'account_logout' %}">',
                "{% csrf_token %}",
                '<button class="w3-button w3-block u-menu-btn">登出</button>',
                '</form>'
            ].join(''),
            buttons: [
                $.extend({}, vex.dialog.buttons.NO, {text: '關閉'})
            ],
            callback: function (data) {
            }
        })
    }
</script>
