<!-- Footer -->
<footer class="w3-center w3-padding-64 footer-bg-color">
    <iframe frameborder="0" width="350" height="300" src="http://localhost:8000/zh-hant/webplugin/place/565953ef-9fe9-4156-ac1a-980d4f62cd79/"></iframe>
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>回到最頂端</a>
    <div class="w3-xlarge w3-section">
        <a href="https://www.facebook.com/LusciousMap/" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity header-social-icon"></i></a>
    </div>

    <p>Copyright © 2017 Luscious Map All rights reserved</p>
</footer>
<!-- Footer end -->