{% load staticfiles %}

<script type="text/javascript" src="{% static "frontend/plugins/jquery-3.2.1.min.js" %}"></script>
<script type="text/javascript"
        src="https://maps.google.com/maps/api/js?key=AIzaSyCHdxqrk1rnoCf-PZa4rGBMUDy7gzfNjy4&libraries=places"></script>
<script type="text/javascript" src="{% static "frontend/plugins/gmaps.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/plugins/jquery-ui.min.js" %}"></script>
<script type="text/javascript" src="{% static "frontend/plugins/knockout-3.4.2.js" %}"></script>
