{% extends '_default.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}

{% block title %} : {{ place.name }}{% endblock %}

{% block meta %}
    <meta name="title" content="好食地圖 Luscious Map - 搜尋美食、分享美食都在好食地圖 | {{ place.name }}">
    <meta name="description" content="{{ place.description }}">
    <meta name="keywords" content="{{ place.tags.all | join:"," }}">

    <meta property="og:image" content="http://{{ request.get_host }}{% url "get_photo" image_id=place.map_image.id %}">
    <meta property="og:title" content="好食地圖 - Luscious Map | {{ place.name }}">
    <meta property="og:description" content="{{ place.description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image:width" content="{{ place.map_image.image.width }}">
    <meta property="og:image:height" content="{{ place.map_image.image.height }}">
{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "frontend/css/map_view.css" %}">
    <link rel="stylesheet" href="{% static "frontend/plugins/bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "frontend/plugins/vex/css/vex.css" %}"/>
    <link rel="stylesheet" href="{% static "frontend/plugins/vex/css/vex-theme-plain.css" %}"/>
    <style>
        .left-side {
            overflow: scroll;
            height: calc(100%);
            border-right: 1px solid #ABD0CE;
        }

        @media (max-width: 601px) {
            .left-side {
                overflow: visible;
                height: auto;
                border-right: 1px solid #ABD0CE;
            }
        }
    </style>
{% endblock %}

{% block mobilemenu %}
    <a href="#detail" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-tag"></i> &nbsp{{ place.name }}介紹</a>
    <a href="#map" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-tag"></i> &nbsp{{ place.name }}地圖</a>
{% endblock %}

{% block body %}

    <div id="detail" class="w3-container" style="padding:31px 16px" id="home">
    </div>

    <div style="height: calc(100% - 63px)">
        <div class="w3-col m3 w3-white left-side">
            <!-- 店家detail -->
            <div id="food_deatil">
                {# slide #}
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox" style="background: #000;">
                        <!-- ko template: {foreach: place.place.photos} -->
                        <!-- ko if: $index() == 0 -->
                        <div class="item active" style="text-align:center;">
                            <img style="height:240px;margin: 0 auto;"
                                 data-bind="attr:{src:$data.image_url}">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: $index() != 0 -->
                        <div class="item" style="text-align:center;">
                            <img style="height:240px;margin: 0 auto;"
                                 data-bind="attr:{src:$data.image_url}">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: $root.place.place.photos().length == 0 -->
                        <div class="item active" style="text-align:center;">
                            <img style="height:240px;margin: 0 auto;"
                                 data-bind="attr:{src:place.place.place_image.image_url}">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
                {# slide end #}
                <div class="w3-container">
                    <h4><i class="icon-food"></i>&nbsp&nbsp<span data-bind="text:place.place.name"></span></h4>
                    <span class="pointer"
                          data-bind="click:function(){clickRating(place.place.rating.good, place.place.rating_good_url);}">
                            <i class="fa fa-thumbs-o-up pointer" aria-hidden="true"></i>
                            <span data-bind="text:place.place.rating.good"></span>
                        </span>
                    &nbsp
                    <span class="pointer"
                          data-bind="click:function(){clickRating(place.place.rating.bad, place.place.rating_bad_url);}">
                            <i class="fa fa-thumbs-o-down pointer" aria-hidden="true"></i>
                            <span data-bind="text:place.place.rating.bad"></span>
                        </span>
                    <br/>
                    <a target="_blank" data-bind="attr:{href:place.place.g_map_url}">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                        開啟Google Map
                    </a>
                    &nbsp | &nbsp
                    <span class="pointer" data-bind="click:function(){click_webplugin();}">
                           <i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp嵌入地圖
                    </span>
                    <p data-bind="text:place.place.description"></p>
                </div>
            </div>
            <!-- 店家detail end -->
            <br>
            <!-- facebook command -->
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9&appId=618607868202556";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}"
                 data-width="100%" data-numposts="5"></div>
            <!-- facebook command end -->

        </div>
        <div class="w3-col m9 w3-container right-side" id="map" style="height: calc(100%);"></div>
    </div>


{% endblock %}

{% block script %}
    <script type="text/javascript"
            src="https://maps.google.com/maps/api/js?key={{ map_key }}&libraries=places"></script>
    <script type="text/javascript" src="{% static "frontend/plugins/gmaps.js" %}"></script>
    <script type="text/javascript" src="{% static "frontend/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "frontend/plugins/knocket-mapping.js" %}"></script>
    <script type="text/javascript" src="{% static "frontend/plugins/vex/js/vex.js" %}"></script>
    <script type="text/javascript" src="{% static "frontend/plugins/vex/js/vex.combined.js" %}"></script>
    <script>vex.defaultOptions.className = 'vex-theme-plain'</script>
    <script>
        var map;

        var ViewModel = new function () {
            var self = this;
            this.place = {
                place: {
                    id: "",
                    name: ko.observable(""),
                    description: ko.observable(""),
                    rating: {
                        good: ko.observable(0),
                        bad: ko.observable(0)
                    },
                    place_image: {
                        image_url: ko.observable("")
                    },
                    photos: ko.observableArray([]),
                    tags: ko.observableArray([]),
                    g_map_url: ko.observable(""),
                    rating_good_url: null,
                    rating_bad_url: null,
                    webplugin: null,
                },
                init: function (url) {
                    $.getJSON(url,
                        function (data, status) {
                            data = data.place;
                            model = ViewModel.place.place;
                            model.id = data.id;
                            model.webplugin = data.webplugin_html;
                            model.rating_good_url = data.rating_good_url;
                            model.rating_bad_url = data.rating_bad_url;
                            model.g_map_url(data.g_map_url);
                            model.name(data.name);
                            model.description(data.description);
                            model.rating.good(data.rating.good);
                            model.rating.bad(data.rating.bad);
                            model.place_image.image_url(data.map_image.image_url);
                            model.photos([]);
                            for (i in data.photos) {
                                model.photos.push(ko.mapping.fromJS(data.photos[i]));
                            }
                            model.tags([]);
                            for (i in data.tags) {
                                model.tags.push(ko.mapping.fromJS(data.tags[i]));
                            }
                            self.setPlaceMark(data.geo_lat, data.geo_lng)
                        });
                },
            }

            this.setPlaceMark = function (geo_lat, geo_lng) {
                //map.removeMarkers();

                html = '<p>' + self.place.place.name() + '</p>';

                if (self.place.place.photos().length > 0) {
                    var photo_url = self.place.place.photos()[0].image_url();
                    html += '<img src="' + photo_url + '" style="max-width:200px;"><br/>';
                }
                html += '<br/><a target="_blank" href="' + self.place.place.g_map_url() + '">Googld Map開啟</a>'

                map.setCenter(geo_lat, geo_lng);
                map.setZoom(16);
                mark = map.addMarker({
                    lat: geo_lat,
                    lng: geo_lng,
                    title: 'Lima',
                    infoWindow: {
                        content: html
                    }
                });
            };

        }

        $(function () {
            ko.applyBindings(ViewModel);
            $('.carousel').carousel();

            map = new GMaps({
                div: '#map',
                lat: {{ place.geo_lat }},
                lng: {{ place.geo_lng }},
                zoom: 16,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                panControl: false,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                overviewMapControl: false,
                mapTypeId: 'roadmap',
            });

            html = '<p>{{ place.name }}</p>';
            html += '<br/><a target="_blank" href="{{ place.google_map_url }}">Googld Map開啟</a>';

            /*mark = map.addMarker({
             lat:
            {{ place.geo_lat }},
             lng:
            {{ place.geo_lng }},
             title: 'Lima',
             infoWindow: {
             content: html
             }
             });*/
            ViewModel.place.init("{% url "place_detail" place_id=place.id %}");

        });

        var clickRating = function (model, url) {
            $.getJSON(url, {}, function (data, status) {
                if (data.success == true && data.auth == true) {
                    model(model() + 1);
                }
            });
        }

        function detail_click() {
            $("#map_deatil").slideToggle("slow");
            $("#food_deatil").slideToggle("slow");
        }

        function detail_click2() {
            $("#map_deatil2").slideToggle("slow");
            $("#food_deatil2").slideToggle("slow");
        }

        function click_webplugin() {
            var text = ViewModel.place.place.webplugin;
            vex.dialog.open({
                message: '複製以下程式碼貼到文章編輯原始碼區塊即可。',
                input: [
                    text,
                    '<textarea row="3" style="height:150px;" readonly>' + text + '</textarea>',
                ].join(''),
                buttons: [
                    $.extend({}, vex.dialog.buttons.NO, {text: '確認'})
                ],
                callback: function (data) {
                }
            })
        }
    </script>
{% endblock %}
