{% extends '_default.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    <link rel="stylesheet" href="{% static "frontend/css/map_view.css" %}">
    <link rel="stylesheet" href="{% static "frontend/plugins/bootstrap/css/bootstrap.css" %}">
    <style>
        .left-side {
            overflow: scroll;
            height: calc(100%);
            border-right: 1px solid #ABD0CE;
        }

        @media (max-width:601px) {
            .left-side {
                overflow: visible;
                height: auto;
                border-right: 1px solid #ABD0CE;
            }
        }
    </style>
{% endblock %}

{% block mobilemenu %}
    <a href="#detail" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-tag"></i> &nbsp{{ place.name }}介紹</a>
    <a href="#map" onclick="w3_close()" class="w3-bar-item w3-button"><i class="fa fa-tag"></i> &nbsp{{ place.name }}地圖</a>
{% endblock %}

{% block body %}

    <div id="detail" class="w3-container" style="padding:31px 16px" id="home">
    </div>

    <div style="height: calc(100% - 63px)">
        <div class="w3-col m3 w3-white left-side">
            <!-- 店家detail -->
            <div id="food_deatil">
                {# slide #}
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox" style="background: #000;">
                        {% if place.photos.all|length <= 0 %}
                            <div class="item active" style="text-align:center;">
                                <img src="{{ place.map_image.image_url }}" style="height:240px;margin: 0 auto;">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        {% endif %}
                        {% for photo in place.photos.all %}
                            {% if forloop.first %}
                                <div class="item active">
                                    <img src="{{ photo.image_url }}" style="height:240px;margin: 0 auto;">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            {% else %}
                                <div class="item" style="text-align:center;">
                                    <img src="{{ photo.image_url }}" style="height:240px;margin: 0 auto;">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
                <!--<img src="{{ place.map_image.image_url }}" alt="John" style="width:100%">-->
                {# slide end #}
                <div class="w3-container">
                    <h4><i class="icon-food"></i>&nbsp&nbsp{{ place.name }}</h4>
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    {{ place.rating.good.count }}
                    &nbsp
                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    {{ place.rating.bad.count }}
                    <p>{{ place.description }}</p>
                </div>
            </div>
            <!-- 店家detail end -->
            <br>
            <!-- facebook command -->
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.9&appId=618607868202556";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-comments" data-href="{{ request.META.HTTP_HOST }}{{ request.get_full_path|urlencode }}"
                 data-width="100%" data-numposts="5"></div>
            <!-- facebook command end -->

        </div>
        <div class="w3-col m9 w3-container right-side" id="map" style="height: calc(100%);"></div>
    </div>


{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "frontend/plugins/gmaps.js" %}"></script>
    <script type="text/javascript" src="{% static "frontend/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script>
        var map;
        var marks = [];
        $(document).ready(function () {
            map = new GMaps({
                div: '#map',
                lat: {{ place.geo_lat }},
                lng: {{ place.geo_lng }},
                zoom: 16,
                zoomControl: true,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.RIGHT_TOP
                },
                panControl: false,
                mapTypeControl: false,
                scaleControl: false,
                streetViewControl: false,
                overviewMapControl: false,
                mapTypeId: 'roadmap',
            });

            html = '<p>{{ place.name }}</p>';
            html += '<br/><a target="_blank" href="{{ place.google_map_url }}">Googld Map開啟</a>';

            mark = map.addMarker({
                lat: {{ place.geo_lat }},
                lng: {{ place.geo_lng }},
                title: 'Lima',
                infoWindow: {
                    content: html
                }
            });

        });

        function detail_click() {
            $("#map_deatil").slideToggle("slow");
            $("#food_deatil").slideToggle("slow");
        }

        function detail_click2() {
            $("#map_deatil2").slideToggle("slow");
            $("#food_deatil2").slideToggle("slow");
        }

        $('.carousel').carousel();
    </script>
{% endblock %}
